<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P1THP3B9GY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-P1THP3B9GY');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Config.site.title }}</title>
    {{- if .Config.site.description }}
    <meta name="description" content="{{ .Config.site.description }}">
    {{- end }}
    <meta name="author" content="{{ .Config.site.author }}">
    <meta property="og:title" content="{{ .Config.site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    {{- if .Config.site.description }}
    <meta property="og:description" content="{{ .Config.site.description }}">
    {{- end }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/{{ .Config.photoswipeversion }}/photoswipe.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>
    <div id="container">
      <header>
        <div class="title">{{ .Config.site.title }}</div>
        <nav>
          {{- range $val := .Config.site.nav }}
          <a href="{{ $val.link }}" target="_blank">
            <img src="{{ $val.icon }}" alt="" />
          </a>
          {{- end }}
        </nav>
      </header>
      <div id="gallery" class="gallery">
          {{- range $section := .Sections }}
          <div class="section">
            <div class="section-header-wrapper">
              <div class="section-title">
                {{ .Title }}
              </div>
              <div class="section-description">
                {{ .Text }}
              </div>
            </div>
            <div class="section-images section-images-{{ .Slug }}">
              {{- range .ImageSets }}
              <div style="width: {{ .ThumbnailSize.Width }}px; height: {{ .ThumbnailSize.Height }}px">
              <a class="section-image"
                href="photos/{{ $section.Slug }}/original/{{ .FileName }}"
                data-pswp-src="photos/{{ $section.Slug }}/original/{{ .FileName }}"
                data-pswp-width="{{ .OriginalSize.Width }}" 
                data-pswp-height="{{ .OriginalSize.Height }}" 
                target="_blank">
                <img class="lozad" data-src="photos/{{ $section.Slug }}/thumbnail/{{ .FileName }}" />
              </a>
              </div>
              {{- end }}
            </div>
          </div>
          {{- end }}
      </div>
      <footer>
        {{- if .Config.others.show_copyright }}
        <p>Copyright © {{ .Config.site.author }}. All Rights Reserved.</p>
        {{- end}}
        {{- if .Config.others.show_foto_footer }}
        <p class="foto_footer">Generated by <a href="https://github.com/waynezhang/foto" target="_blank">foto</a>.
        {{- end}}
      </footer>
    </div>
    <script type="module">
      const observer = lozad();
      observer.observe();

      import { JustifiedGrid } from 'https://cdn.skypack.dev/@egjs/grid';
      const options = {
        gap: 8,
        columnRange: [{{ .Config.layout.mincolumn }}, {{ .Config.layout.maxcolumn }}],
        sizeRange: [{{ .Config.layout.minwidth }}, Infinity],
      };
      {{- range $section := .Sections }}
      (new JustifiedGrid(".section-images-{{ .Slug }}", options)).renderItems();
      {{- end }}

      import PhotoSwipeLightbox from 'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/{{ .Config.photoswipeversion }}/photoswipe-lightbox.esm.min.js';
      import PhotoSwipe from 'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/{{ .Config.photoswipeversion }}/photoswipe.esm.min.js';

      const lightbox = new PhotoSwipeLightbox({
        pswpModule: PhotoSwipe,
        gallery: '.section-images',
        children: 'a'
      });
      lightbox.init();
    </script>
  </body>
</html>
